*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bc-lightgreen{
    background-color: #7fffd4;
}

.bc-lightblue{
    background-color: lightskyblue;
}

.my_container{
    max-width: 800px;
}

.my_square{
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid black;
    text-align: center;
    line-height: calc(600px / 10);
}

#squares-container{
    width: 600px;
    height: 600px;
}